@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background-image: url(./sbg.jpg);
}

.main-container{
  height: 100vh;
  max-width: 100vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
   max-width:100vw;
  height: 100vh;
}

.card:hover{
  transform: scale(1.2);
  z-index:2;
}

.card {
  background: #fff;
  box-shadow: 0px 2px 23px #26395347;
  border-radius: 20px;
  width: 350px;
  margin: 0px 10px;
  height: 450px;
}

.btn{
  background-color: #000;
  color: #fff;
  font-size: 15px;
  height: 45px;
  width: 140px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover{
  background: transparent;
  color: #000;
  border: 0.5px solid black;
  font-weight: 600;
}

.actions-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}


.top-card {
  padding: 5px;
}

.title {
  color: #2b3d59;
}

.second-text {
  color: #828fa1;
}

.media-card1 {
  background: url(./clean2.png) center/cover;
  height: 200px;
  width: 100%;
}

.media-card2 {
  background: url(./clean1.png) center/cover;
  height: 200px;
  width: 100%;
}

.media-card3 {
  background: url(./clean3.png) center/cover;
  height: 200px;
  width: 100%;
}

.bottom-card {
  padding: 10px;
}

.bottom-text {
  color: #445b73;
  font-family: 'EB Garamond', serif;
  margin:0px;
}

.actions {
  background: none;
  border: none;
  color: purple;
}




/* Media Queries */

@media only screen and (max-width:600px){

  .main-container{
    height: 160vh;
    max-width: 100vw;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .media-card1, .media-card2, .media-card3{
    height: 150px;
    width: 100%;
  }

  .card{
    height: 320px;
    width: 320px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
  }

  .title{
    font-size: 18px;
  }

  .bottom-card {
    padding: 5px;
    /* border: 1px solid black; */
    margin-top: -15px;
  }

  .bottom-text{
    font-size: 14px;
  }

  .top-card {
    padding: 3px;
  }

  .btn{
    font-size: 10px;
    height: 28px;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 10px;
  }

  .card:hover{
    transform: scale(1.1);
    z-index:2;
  }

}



