@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background-image: url(images/sbg.jpg);
}
.main-container{
  height: 100vh;
  max-width: 100vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
   max-width:100vw;
  height: 100vh;

}
.card:hover{
  transform: scale(1.2);
  z-index:2;
}

.card {
  background: #fff;
  box-shadow: 0px 2px 23px #26395347;
  border-radius: 20px;
  width: 350px;
  margin: 0px 10px;
  height: 450px;
}
button {
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #667292;
  box-shadow: 5px 8px 10px #36486b;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-family: cambria;
  color: #bccad6;
  border: none;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  border: none;
  background-color: #8d9db6;
  opacity: 1;
  color: #fff;
}



.btn:hover {
  transition: 0.5s ease-in-out;
  background: #8d9db6;
}

button {
  --color1: #000;
  --color2: grey;
  font-family: cambria;
  text-align: center;
  font-size: 15px;
  background: repeating-linear-gradient(
    45deg,
    var(--color1),
    var(--color1) 30px,
    var(--color2) 30px,
    var(--color2) 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
}

@keyframes move {
  from {
    background-position: 0px;
  }

  to {
    background-position: 1000px;
  }
}


.top-card {
  padding: 5px;
  padding-top: 0px;
}

.title {
  color: #2b3d59;
}

.second-text {
  color: #828fa1;
}

.media-card1 {
  background: url(images/clean2.png) center/cover;
  height: 200px;
  width: 100%;
}

.media-card2 {
  background: url(images/clean1.png) center/cover;
  height: 200px;
  width: 100%;
}

.media-card3 {
  background: url(images/clean3.png) center/cover;
  height: 200px;
  width: 100%;
}

.bottom-card {
  padding: 10px;
}

.bottom-text {
  color: #445b73;
  font-family: 'EB Garamond', serif;

margin:0px;
}

.actions {
  background: none;
  border: none;
  color: purple;
}


 @media screen and (max-width: 767px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin: 10px;
  }

  .media-card1,
  .media-card2,
  .media-card3 {
    height: 180px;
    width: 100%;
  }

  button {
    margin-left: 0; 
  }
}


@media screen and (hover: hover) {
  .card {
    transition: transform 0.5s ease-in-out ,margin 0.5s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
    z-index: 2;
    margin:0 9px;
  }

  .btn {
    margin-top: 10px; 
  }

  .extramargin {
    margin-top: 0; 
  }

  .decreasemargin {
    margin-top: -20px; 
  }
}
