@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(./Images/contact\ page.png);
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

section {
  position: relative;
  z-index: 3;
  padding-top: 15px;
  padding-bottom: 50px;
}
.float {
  width: 50%;
  float: left;
}

.container {
  max-width: 1000px;
  /* margin-left: auto;
    margin-right: auto; */
  padding-left: 60px;
  padding-right: 20px;
}
h2.section-header {
  margin: 0;
  padding: 0;
}

.contact-info-icon :hover .icon {
  background: #00bcd4;
}

.section-header {
  margin-bottom: 20px;
  text-align: center;
  margin-left: 30px;
}

.section-header h2 {
  color: black;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: black;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: black;
  font-size: 1em;
}

.contact-form {
  background-color: rgb(220, 228, 230);
  padding: 40px;
  width: 60%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 15px;
  opacity: 0.6;
  margin-left: 100px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  /* padding: 3px 0; */
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background-color: rgb(220, 228, 230);
}

.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: #00bcd4;
  color: rgb(220, 228, 230);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: rgb(220, 228, 230);
  color: #00bcd4;
}

@media only screen and (max-width: 600px) {
  .section-header h2 {
    font-size: 2em;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }

  .contact-form {
    margin-left: 0;
  }
}
