body {
  font-family: Arial, sans-serif;
  background-image: url('./profilebg.png');
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.571);
  height: 550px;
  opacity: 0.7;
  margin-top: 10px;
}
img {
  width: 650px;
  margin-left: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  outline: none;
  padding: 8px;
  margin-bottom: 15px;
  background-color: white;
}
select {
  border-radius: 15px;
}
input {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}

input:focus {
  outline: none;
}

input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
  width: auto;
}

.container {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(55px);
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  background-color: #287b7b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  width: 140px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #287b7b;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
